{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="main" id="home-section">
        <div class="container hero">
            <!-- <div class="hero-text"> -->
                <p class="hero-intro">Hello world</hp>
                <h1 class="hero-title">My name is <span class="special">Muwanguzi Joshua</span></h1>
                <p class="hero-impression">I am a web developer. <br>I build responsive and dynamic <br> web solutions.</p>
            <!-- </div> -->
            <ul class="cta hero-cta">
                <li class="single-cta btn"><a href="#work-section">My Work</a></li>
                <li class="single-cta btn"><a href="#about-section">About Me</a></li>
            </ul>
        </div>
    </section>


    <section class="work" id="work-section">
        <div class="container">
            <h2 class="section-title special-bits" data-delay="0s">My Work</h2>
            <div class="all-work">
                {% for project in projects %}
                    <div class="single-work anim" data-delay="0s">
                        <div class="work-image">
                            {% if project.image %}
                                <img src="{{project.image.url}}" alt="{{project.title}}">
                                {% else %}
                                <img src="{% static 'images/phone.jpg'%}" alt="">
                            {% endif %}
                        </div>
                        <!-- <div class="work-info"> -->
                            <div class="work-text">
                                <h3 class="work-title">{{project.title}}</h3>
                                <ul class="tags">
                                    {% for tag in project.tags.all %}
                                        <li class="tag">
                                        <a href="{% url 'all_projects_by_tagname' tag %}" style="text-decoration: none;">{{tag}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="work-detail">
                                    
                                    {% if project.project_detail %}
                                        {{project.project_detail}}
                                        {% else %}
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta exercitationem velit quod, atque nemo corrupti facere quis repudiandae rem rerum ipsam eum.
                                    {% endif %}
                                        
                                </p>
                                <ul class="work-cta">
                            
                                    {% if project.git_repo %}
                                    <li class="github">
                                        <a href="{{project.git_repo}}" target="blank"><span><i class="fa fa-github cta" aria-hidden="true">
                                        </i></span>source</a>
                                    </li>
                                    {% else %}
                                    {% endif %}
                                    
                                    {% if project.live_site %}
                                    <li class="live-site">
                                        <a href="{{project.live_site}}" target="blank"><span><i class="cta fa fa-eye" aria-hidden="true"></i></span>live</a>
                                    </li>
                                    {% else %}
                                    {% endif %}
                                        
                                    
                                </ul>
                        </div>
                        <!-- </div> -->
                    </div>
                {% endfor %}
            </div>
            <div class="work-autro">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non pariatur perspiciatis velit quibusdam odit officia, animi cum cumque eaque quam magni deleniti est minus dolor architecto ex esse, expedita fugit.
                </p> -->
                <ul>
                    <li class="btn appears" data-delay="0s">
                        <a href="{%url 'all-projects'%}">See All Projects</a>
                    </li>
                </ul>
            </div>
            <!-- <p class="cta see-all">See all my work</p>-->
        </div>
    </section>

    <section class="about" id="about-section">
        <div class="container">
            <!-- <div class="about-text"> -->
                <h2 class="section-title special-bits" data-delay="0s">About Me</h2>
                <div class="about-content">
                    <p class="anim" data-delay='0s'>I am always in awe of the possibilities and strides the world has reached with the help of technology.
                    Every day for me is an inspiring opportunity to learn and position myself better to be part and parcel of this revolution.<span class="big-dev"><br>When I am not busy coding and debugging, I am busy thinking about random things and listening to any good music. I also love watching football and telling myself, "I will be a damn good photographer one day."</span>
                    </p>
                    <!-- </div> -->
                    <div class="about-img anim" data-delay="100ms"><img src="{% static 'images/website.jpg'%}" alt="MuwanguziJoshua" width=""></div>
                    <p class="small-dev anim" data-delay="0s">When I am not busy coding and debugging, I am busy thinking about random things and listening to any good music. I also love watching football and telling myself, "I will be a damn good photographer one day."</p>
                </div>
                <!-- <p class="resume special">See my resume</p> -->
        </div>
    </section>


    <!-- <section class="some-words"></section> -->

{% endblock content %}