{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="main" id="home-section">
        <div class="container hero">
            <!-- <div class="hero-text"> -->
                <p class="hero-intro">Hello world</hp>
                <h1 class="hero-title">My name is <span class="special">Muwanguzi Joshua</span></h1>
                <p class="hero-impression">I am a web developer. <br>I build full on web solutions with the <br> necessary tools.</p>
            <!-- </div> -->
            <ul class="cta hero-cta">
                <li class="single-cta btn"><a href="#work-section">My Work</a></li>
                <li class="single-cta btn"><a href="{% url 'contact'%}">Contact Me</a></li>
            </ul>
        </div>
    </section>


    <section class="work" id="work-section">
        <div class="container">
            <h1 class="section-title special-bits" data-delay="0s">My Work</h1>
            <div class="all-work">
                {% for project in projects %}
                    <div class="single-work anim" data-delay="0s">
                        <div class="work-image">
                            {% if project.image %}
                                <img src="{{project.image.url}}" alt="">
                                {% else %}
                                <img src="{% static 'images/phone.jpg'%}" alt="">
                            {% endif %}
                        </div>
                        <!-- <div class="work-info"> -->
                            <div class="work-text">
                                <h3 class="work-title">{{project.title}}</h3>
                                <ul class="tags">
                                    {% for tag in project.tags.all %}
                                        <li class="tag">
                                        <a href="{% url 'all_projects_by_tagname' tag %}" style="text-decoration: none;">{{tag}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <p class="work-detail">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt soluta exercitationem velit quod, atque nemo corrupti facere quis repudiandae rem rerum ipsam eum.
                                </p>
                            <ul class="work-cta">
                                <li class="github">
                                    <span><i class="fa fa-github cta" aria-hidden="true">
                                    </i></span>source</li>
                                <li class="live-site"><span><i class="cta fa fa-eye" aria-hidden="true"></i></span>live</li>
                            </ul>
                        </div>
                        <!-- </div> -->
                    </div>
                {% endfor %}
            </div>
            <div class="work-autro">
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non pariatur perspiciatis velit quibusdam odit officia, animi cum cumque eaque quam magni deleniti est minus dolor architecto ex esse, expedita fugit.
                </p> -->
                <ul>
                    <li class="btn appears" data-delay="0s">
                        <div>
                            <span><a href="{% url 'all-projects' %}">See All Projects</a>
                        </div>
                       
                    </span>
                    </li>
                </ul>
            </div>
            <!-- <p class="cta see-all">See all my work</p>-->
        </div>
    </section>

    <section class="about" id="about-section">
        <div class="container">
            <!-- <div class="about-text"> -->
                <h3 class="section-title special-bits" data-delay="0s">About Me</h3>
                <div class="about-content">
                    <p class="anim" data-delay='0s'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorum illo quod earum officiis excepturi veniam, velit ea quis commodi, quidem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, delectus? <span class="big-dev"><br>odio mollitia vel aliquam!s adipisicing elit. Perferendis, rem eum consequaturLorem ipsum dolor sit amet consectetur dolor quae nobis dignissimos animi minus dolorem consequuntur ullam amet officiis</span>
                    </p>
                    <!-- </div> -->
                    <div class="about-img anim" data-delay="100ms"><img src="{% static 'images/website.jpg'%}" alt="Image of Joshua" width=""></div>
                    <p class="small-dev anim" data-delay="0s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, rem eum consequatur dolor et provident voluptatum quae nobis dignissimos animi minus dolorem consequuntur ullam amet officiis illum omnivoluptatem vel.</p>
                </div>
                <!-- <p class="resume special">See my resume</p> -->
        </div>
    </section>


    <!-- <section class="some-words"></section> -->

{% endblock content %}