.extra-page{
    /* back-ground: #E04031; */
    height: 30vh;
    box-shadow: 0 15px 20px -25px;
}

.extra-page h1{
    color: #E04031;
    padding-bottom: 0;
    text-transform: capitalize;
}

.return-to-all{
    color: #404044;
    opacity: 0;
    position: relative;
    animation: hero-cta 2s forwards;
}

.return-to-all a{
    color: #E04031;
}