@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Jua&family=Kiwi+Maru:wght@300;400;500&family=Open+Sans:ital,wght@0,300;0,400;1,400&family=Poppins:ital,wght@0,200;0,300;1,300&family=Yusei+Magic&display=swap");

:root {
  --primary-color: azure;
  --yellow-color: #fee715ff;
  --black-color: #101820ff;
  --chalk-white: #ebeeec;
  --main-font: "Kiwi Maru";
  --logo-font: "Coming Soon";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html,
body {
  font-family: "Poppins";
  overflow-wrap: break-word;
}

header {
  /* display: none; */
  position: fixed;
  z-index: 5;
  color: black;
  width: 100%;
  /* background: #c7c9c7; */
  /* padding: .6rem 0; */
  /* background-color: #fff; */
  /* opacity: 90%; */
  /* background-color: black; */
  /* border-bottom: red solid 1px; */
  /* padding: 50px 0; */
  /* padding: 1.5rem auto; */
}

i{
  color: #E04031;
}

.hambuger {
  position: relative;
}

.hambuger,
.hambuger::before,
.hambuger::after {
  content: "";
  height: 3px;
  width: 2rem;
  background-color: #333333;
  background: #E04031;
}

.hambuger::before {
  position: absolute;
  bottom: 0.5rem;
}

.hambuger::after {
  position: absolute;
  top: 0.5rem;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Call to action area */

.btn{
  color: #fff;
  background-color: #E04031;
  padding: .5rem .7rem;
}

li {
  list-style: none;
}

section {
  padding: 50px 0;
  /* margin-top: 2rem; */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 2rem 0;
  margin: 0 auto;
  width: 90%;
}

.logo li{
  /* visibility: invisible; */
  /* content-visibility: none; */
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
}

.main {
  background-color: #fff;
  color: var(--chalk-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 7rem 0;
  z-index: 2;
  height: 100vh;
}

.nav_items {
  display: flex;
}

.special {
  color: black;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}

.section-title {
  margin-bottom: 1.5rem;
  display: inline-block;
  color: #E04031;
  font-size: 1.7rem;
  position: relative;
}

.section-title::after {
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #BFBFBF;
  position: absolute;
}

/* hero starts */

.hero-intro,
.hero-impression {
  color: #404040;
}

.hero-intro{
  font-size: 1.7rem;
}
.hero-title {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color:#E04031;
}

.cta {
  color: #E04031;
  /* color: black; */
  font-size: 1.1rem;
}

.hero .cta {
  margin-top: 2rem;
}

.hero-cta {
  display: flex;
}

.single-cta + .single-cta {
  margin-left: 1rem;
}

/* start about */
.about {
  background-color: rgb(233, 233, 233);
  background-color: #fff;
  color: #333333;
}

.big-dev {
  display: none;
  visibility: hidden;
}

.about-img {
  margin: 1rem 0;
}

.resume {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

/* About end */

.work {
  background-color: #e5e6e5;
  background-color: #fff;
  color: #333333;
}

.all-work {
  margin-top: 2rem;
}

.single-work {
  background-color: #F2F2F2;
  border-radius: unset;
}

/* .see-all {
  margin-top: -0.5rem;
  font-size: 1.5rem;
} */

.single-work {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.work-text {
  padding: 0 1rem;
}

.work-title {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: black;
}

.work-detail {
  display: none;
}

.work-cta {
  padding-top: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.work-cta li{
  color: black;
  /* color: #E04031; */
}

.work-cta .cta {
  padding-right: 0.2rem;
}

.work-image img {
  border-radius: unset;
}

.tags {
  font-size: 0.7rem;
  color: black;
  color: #fff;
  margin-bottom: 0;
}

.tag {
  /* background-color: #333333; */
  background: #E04031;
  display: inline-block;
  /* border-radius: 0.4rem; */
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
  margin-right: 0.4rem;
}

/* for the all projects page */
  .work-tag-intro{
    color: #E04031;
  }
/* for the all projects page */

/* Contact */
.contact {
  background-color: #d6d8d6;
  background-color: #fff;
}

.contact_info-wrapper{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
  flex-direction: column;
}

.contact-info__text {
  background-color: #F2F2F2;
  /* margin-bottom: 2rem; */
  /* padding: 2rem; */
  max-width: 300px;
  border-radius: unset;
}

.wrapper-up {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  /* max-width: 300px; */
  flex-direction: column;
}

/* .info-item + .info-item {
  margin-top: 1rem;
} */

.text-info {
  margin-left: 1rem;
}

.text-info h3 {
  margin-top: 4px;
  font-size: 1.2rem;
  color: #333333;
}

.icon {
  font-size: 1.6rem;
  margin-top: 0;
  /* color: #8FB399; */
  /* padding-top: 0; */
}

/* contact form */

::placeholder{
  color: #333333;
}

.form-item {
  margin-top: 0.5rem;
}

.info-item_title__text {
  display: flex;
}

.form-item input,
textarea {
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #BFBFBF;
  padding: 1rem;
  background-color: unset;
  width: 100%;
}

#contact-submit {
  /* display: none; */
  margin-top: 2rem;
  /* margin-bottom: -4rem; */
  border: none;
  /* color: #8FB399; */
  /* background-color: unset; */
  outline: none;
  font-size: 1.5rem;
}

/* footer */
footer {
  color: #333333;
  background-color: #fff;
  padding: 3rem 0;
  /* border-top: 2px solid #BFBFBF; */
  /* width: 80%; */
  /* margin: 0 auto; */
  text-align: center;
}


footer i {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

footer p {
  font-size: 1rem;
}
/* end footer */

/* Responsiveness in order */

@media (min-width: 600px) {
  .container {
    width: 60%;
  }
}


@media (min-width: 900px) {
  h1,
  h3 {
    font-size: 1.6rem;
  }

  /* .logo li{
    display: unset;
  } */

  section {
    padding: 100px 0;
  }

  .container {
    max-width: 1200px;
    width: 70%;
  }

  .intro-text p {
    font-size: 1.4rem;
  }

  .intro-cta {
    margin-top: 2rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
  }

  .cta + .cta {
    margin-left: 1.5rem;
  }

  .section-title {
    margin-bottom: 2rem;
    /* font-size: 2rem; */
    /* font-size: unset; */
  }

  /* About section */
  .about-content {
    display: flex;
    justify-content: space-between;
  }

  .about-content p {
    margin-top: 1.4rem;
    padding-right: 2rem;
    font-size: 1rem;
  }

  .resume {
    margin-top: -5rem;
  }

  .about-content img {
    width: 1000px;
  }

  .small-dev {
    display: none;
    visibility: none;
  }

  .big-dev {
    display: block;
    visibility: visible;
  }

  /* Work section */

  .work-detail {
    display: unset;
  }

  /* Contact */
  .contact_info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .wrapper-up {
    padding: 2rem;
  }

  form {
    width: 100%;
    margin-left: 2rem;
  }

  .contact .container{
    position: relative;
  }
  #contact-submit{
    position: absolute;
    right: 0;
    /* margin-left: 45%; */
  }
}

/* Width 1000+ */

@media (min-width: 1000px) {
  footer {
    font-size: 1.3rem;
  }
}

/* Width 1100+ */

@media (min-width: 1100px) {
  .intro-text p {
    font-size: 1.3rem;
    word-spacing: 0.2rem;
    letter-spacing: 1.2px;
  }

  .about-content img {
    width: 1000px;
  }

  .about-content p {
    font-size: 1.2rem;
    padding-right: 3rem;
  }

  /* work section */

  .single-work {
    display: flex;
    padding: 2rem;
    border-bottom: none;
    justify-content: space-between;
    align-items: center;
  }

  .work-text {
    padding-left: 2rem;
    width: 100%;
  }

  .single-work-item + .single-work-item {
    margin-left: 1rem;
  }

  .work-image img {
    width: 700px;
  }

  .work-title {
    font-size: 1.4rem;
  }

  .work-detail {
    display: unset;
    font-size: 1rem;
  }

  .tags {
    margin-bottom: 0.5rem;
  }

  /* end of work section */
}

/* Width 1200+ */

@media (min-width: 1200px) {

  .section-title {
    /* margin-bottom: 2rem; */
    font-size: 2rem;
    /* font-size: unset; */
  }

  .about-content {
    display: flex;
    justify-content: space-between;
  }

  .about-content p {
    padding-right: 2rem;
    font-size: 1.3rem;
  }

  .about-content img {
    width: 1300px;
  }

  

  footer {
    font-size: 1.4rem;
  }
}

/* Width 1357+ */

@media (min-width: 1357px) {
  .about-content p {
    font-size: 1.3rem;
    padding-right: 3rem;
  }

  .about-content img {
    width: 900px;
  }

  .work-text h3 {
    font-size: 1.6rem;
    /* font-weight: 700; */
  }
  .work-text p {
    line-height: 1.4;
    font-size: 1.1rem;
  }
}


@media(min-height:900px){
  .main{
      padding: 12rem 0;
      height: unset;
  }
}