{% extends 'base.html' %}


{% block content %}
    <section class="contact">
    <div class="container">
        <h1 class="section-title special-bits" data-delay="0s">Contact Me</h1>

        <div class="contact_info-wrapper">

            <div class="contact-info__text">



                <div class="wrapper-up">
                    <div class="info-item">
                        <div class="info-item_title__text">
                            <div class="icon">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </div>
                            <div class="text-info">
                                <h3 class="title">Whatsapp</h3>
                                <p>+25675843885</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item_title__text">
                            <div class="icon">
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                            </div>
                            <div class="text-info">
                                <h3 class="title">Address</h3>
                                <p>Kampala, Uganda</p>
                                <p>P.O Box, 35</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-item_title__text">
                            <div class="icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="text-info">
                                <h3 class="title">Email</h3>
                                <p>joshuamjv3@gmail.com</p>
                                <!-- <p>P.O Box, 35</p> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <form action="" class="contact-info__form" method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-item">
                        {{field}}
                        {{field.errors}}
                    </div>
                {% endfor %}
                <input type="submit" value="send" id="contact-submit" class="btn">
            </form>
        </div>
    </div>
</section>
{% endblock content %}







