{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Muwanguzi Joshua">
    <meta name="description" content="Muwanguzi Joshua personal portfolio website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/extra_pages.css'%}">
    <title>
        {% if title %}
        Muwanguzi Joshua - {{title}}
        {% else %}
        Muwanguzi Joshua - Home
        {% endif %}
    </title>
</head>
<body>
    <header>
        <div class="navigation">
                <ul class="logo">
                    <li class="nav_item">Joshua</li>
                </ul>
            <ul class="nav_items">
                <!-- <div class="hambuger"></div> -->
                <li class="nav_item"><a href="{% url 'home'%}">Home</a></li>
                <li class="nav_item"><a href="{% url 'all-projects'%}">Portfolio</a></li>
                <li class="nav_item"><a href="{% url 'contact'%}">Contact</a></li>
                <li class="nav_item"><a href="{% static 'Muwanguzi-Joshua-Resume.pdf' %}" target="blank">Resume</a></li>
            </ul>
            <div class="hambuger-main">
                <div class="hambuger"></div>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <footer>
        <!-- <section> -->
            <div class="container">
                <div class="footer-content">
                        </span><span class="footer-socials">
                            <a href="https://github.com/Joshuamjv2">
                                <i class="fa fa-github special-bits" aria-hidden="true" data-delay="0ms"></i>
                            </a>
                            <a href="https://twitter.com/Muwangu12386789">
                                <i class="fa fa-twitter special-bits" aria-hidden="true" data-delay="80ms">
                                </i>
                            </a>
                            <a href="https://www.linkedin.com/in/joshua-muwanguzi-33364a164">
                                <i class="fa fa-linkedin special-bits" aria-hidden="true" data-delay="160ms"></i>
                            </a>
                        </span>
                        <p class="special-bits" data-delay="320ms" style="animation-timing-function: ease-out;"><span class="special"><a href="{% url 'home'%}">Joshua</a></span> &copy;2021</p>
                </div>
            </div>
        <!-- </section> -->
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>